@define-color bg-hover #1A1A28;
@define-color bg #1E1E2E;
@define-color blue #89B4FA;
@define-color sky #89DCEB;
@define-color red #F38BA8;
@define-color pink #F5C2E7;
@define-color lavender #B4BEFE;
@define-color rosewater #F5E0DC;
@define-color flamingo #F2CDCD;
@define-color fg #D9E0EE;
@define-color green #A6E3A1;
@define-color dark-fg #161320;
@define-color peach #FAB387;
@define-color border @lavender;
@define-color gray2 #6E6C7E;
@define-color black4 #575268;
@define-color black3 #302D41;
@define-color maroon #EBA0AC;

* {
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-family: "FiraCode NerdFont", "SF Pro", "JetBrainsMono Nerd Font";
    font-size: 11pt;
}

window#waybar {
    background-color: @bg;
    box-shadow: 0 0 10px 0 @border;
    border-width: 0 0 2px 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

tooltip {
    background: @bg;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}
